.titlesBoxHero {
    margin: 50px 0;
}
.titleMora{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.subtitleMora{
    font-size: 15px;
    text-align: center;
    margin: 0;
}
.categoryBox {
    display: flex;
    align-items: flex-end;    
    flex-direction: column;
}

.categoryItem {
    padding: 2px 8px;
    margin: 0;
    font-size: 12px;
}
.optionsHeroProjects {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
    text-transform: uppercase;
    line-height: 2;
}
.aboutLink {
    font-size: 12px;
}

.container {
    width: 100%;
}
  
.image-wrapper {
    margin-bottom: -20%;
    width: 200px;
}
.heroProjectsBox {
    padding: 0 10%;
}
.heroProjectsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.image-left {
    margin-left: 0;
}
  
.image-right {
    margin-left: auto;
    margin-right: 0;
}

.image-left-variant {
    margin-left: 50px;
}
  