.titlesBoxHero {
    margin: 30px 0;
    text-align: center;
    line-height: 1.5;
}
.titleMora{
    font-size: 22.5px;
    font-weight: 600;
    margin: 0;
    font-family: monumentGroteskBold;
    letter-spacing: normal;
}
.subtitleMora{
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
}
.categoryBox {
    display: flex;
}

.categoryItem::-webkit-scrollbar, .heroLinks::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari, y Opera */
}
.categoryItem {
    margin: 0;
    font-size: 12px;
    margin: 2px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 5px;

}
.categoryItem, .heroLinks {
    flex: 0 0 auto;
    cursor: pointer;

}
.categoryItemActive {
    font-weight: 600;
}
.optionsHeroProjects {
    color: white;
    display: flex;
    justify-content: space-between;
    /* margin: 0px 5px 20px; */
    /* align-items: flex-end; */
    text-transform: uppercase;
    line-height: 2.5;
    flex-direction: row;
    
    padding: 40px 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Para desplazamiento suave en dispositivos móviles */
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
}
.aboutLink {
    font-size: 12px;
    color: white;
    margin: 2px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 5px;
}

.container {
    width: 100%;
}
.heroProjectsContainer {
    padding: 20px 0;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
  
.heroProjectsContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.projectsScrollable {
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth; 
}
.heroProjectsBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
  
.heroProjectSlide {
    position: relative;
    padding: 0 10px;
    transition: transform 0.5s ease-in-out;

    flex: 0 0 auto;
    width: 70%;
}

.heroProjectSlide.prev {
    transform: scale(0.8); /* Ajusta según el efecto deseado */
  }
  
  .heroProjectSlide.next {
    transform: scale(0.8); /* Ajusta según el efecto deseado */
  }
  
  .heroProjectSlide.active {
    transform: scale(1); /* Asegura que la diapositiva activa sea completamente visible */
    opacity: 1;
  }
.slider-fade-container {
    position: relative;
}
.heroProjectsImage {
    width: 100%;
    height: 440px;
    height: 60vh;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.heroProjectInfo {
    width: -webkit-fill-available;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 1em;
}
.heroProjectInfo p {
    margin: 0.5em 0;
}
.heroLinks {
    display: flex;
    flex-direction: row;
    /* width: 30%; */
    justify-content: space-between;
}
.carousel-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.carousel {
    position: relative;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.carousel-item {
    position: absolute;
    width: 300px;
    /* height: 60vh; */
    transition: all 0.5s ease;
}

.carousel-item.active {
    z-index: 2;
}

.carousel-item p:nth-child(2) {
    /* bottom: 500px; */
}

@media(min-width:700px){
    .titlesBoxHero {
        margin: 50px 0;
    }
    .titleMora{
        font-size: 28px;
    }
    .subtitleMora{
        font-size: 18px;
    }
}