.cvAbout {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}
.titlesContainerAbout {
    margin: 40px 0;
    line-height: 1.5;
    text-align: center;
}
.titlesContainerAbout .subtitleMora {
    text-transform: uppercase;
    font-size: 13.5px;
}
.titlesContainerAbout .titleMora {
    font-size: 25.5px;
}

.skillsAboutDiv {
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
}
.contact {
    padding-top: 50px;
}
.skillsAboutDiv h6 {
    /* margin: 0 1em 0 0; */
    margin: 0;
    width: 70px;
    line-height: 1.5;

}
.aboutContainer {
    padding: 0 10px;
    min-height: 100vh;
    background: 
        radial-gradient(circle at top, white 0%, rgba(255,255,255,0) 80%),
        linear-gradient(to bottom, #FF3333 0%, #FF0000  100%);
    background-attachment: fixed;
    background-size: 100% 100%, 100% 200%;
    background-position: center, 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

.linksAbout {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: underline !important;
}
.skillsAboutDiv .skills, .skillsAboutDiv .linksAbout  {
    width: 80%;
}
.cvAboutImg {
    width: 100%;
    padding-top: 50px;
    object-fit: cover;
    height: 350px;
}