.homeContainer {
    min-height: 100vh;
    background: 
        radial-gradient(circle at top, white 0%, rgba(255,255,255,0) 50%),
        linear-gradient(to bottom, #4169E1 0%, #000AFF 100%);
}
.allProjectsBox {
    padding: 0 15px;
}
.category-graphic {
    background: 
        radial-gradient(circle at top, white 0%, rgba(255,255,255,0) 50%),
        linear-gradient(to bottom, #FFB6C1 0%, #fe016d 100%);
}

.category-audiovisual {
    background: 
        radial-gradient(circle at top, white 0%, rgba(255,255,255,0) 50%),
        linear-gradient(to bottom, #7FFFD4 0%, #1bd6d1 100%);
}

.category-ux\&ui {
    background: 
        radial-gradient(circle at top, white 0%, rgba(255,255,255,0) 50%),
        linear-gradient(to bottom, #DDA0DD 0%, #4a02a7 100%);
}

.category-photos {
    background: 
        radial-gradient(circle at top, white 0%, rgba(255,255,255,0) 50%),
        linear-gradient(to bottom, #D3D3D3 0%, #b9b9b9 100%);
}

.category-3d {
    background: 
        radial-gradient(circle at top, white 0%, rgba(255,255,255,0) 50%),
        linear-gradient(to bottom, #FFFF00 0%, #fff117 100%);
}
.category-3d .optionsHeroProjects,
.category-3d .aboutLink, 
.category-photos .optionsHeroProjects,
.category-photos .aboutLink, 
.category-audiovisual .optionsHeroProjects,
.category-audiovisual .aboutLink {
    color: black;
}
.category-3d .categoryItem, 
.category-3d .aboutLink,
.category-photos .categoryItem, 
.category-photos .aboutLink,
.category-audiovisual .categoryItem, 
.category-audiovisual .aboutLink {
    border: 1px solid rgba(26, 26, 26, 0.3);

}
.heroProjectsWrapper {
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed !important;
    background-size: 100% 100%, 100% 200%;
    background-position: center, 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
}
.projectTitle {
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    margin: 0.6em 0;
    line-height: 1;
    font-family: monumentGroteskRegular;
}

.projectDetail {
    text-align: center;
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
}

.projectDescription {
    text-align: center;
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
}
.separatorLine {
    border-bottom: 1px solid black;
    margin: 5px;
}
.projectTitleContainer {
    display: -webkit-box;
}

.carouselContainerHome {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carouselHome {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carouselItemHome {
    min-width: 100%;
    flex: 1 0 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.carouselImageContainerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    text-align: center;
}

.imageCarouselHome {
    max-width: 90%;
    max-height: 55vh;
    object-fit: cover;
}
  
.infoCarouselHome {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}
.infoCarouselHomeBox {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 0 10px;
    line-height: normal !important;
}
@media(min-width:700px){
    .projectTitle {
        font-size: 40px;
        margin: 0.5em 0;
    }
    .projectDetail, .projectDescription {
        font-size: 14px;
    }
    .allProjectsBox {
        padding: 0 30px;
    }
    .infoCarouselHome {
        font-size: 16px;
    }
}

@media(min-width:1000px){
    
    .projectTitle {
        margin: 0.8em 0;
    }
    .carouselHome {
        display: unset;
    }
    .carouselItemHome {
        display: block;
        height: unset;
        min-width: unset;
        flex: unset;
        width: 33.3vw;
        margin-bottom: 10px;
    }
    .projectDetail, .projectDescription {
        font-size: 17px;
    }
    .infoCarouselHome {
        display: none;
    }
    .grid-container {
        columns: 3;
        column-gap: 10px;
        width: 100%;
        display: block;
    }
    .carouselImageContainerHome {
        display: unset;
        height: unset;
    }
    .imageCarouselHome {
        width: 100%;
        height: auto;
    }
    .grid-item {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 1s ease, transform 1s ease;
    }
      
    .grid-item.animated {
        opacity: 1;
        transform: translateY(0);
    }
    .projectDescription {
        
        margin-bottom: 70px;
    }

}

