.titleMora{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.subtitleMora{
    font-size: 15px;
    text-align: center;
    margin: 0;
}
.categoryBox {
    display: flex;
    justify-content: flex-end;
    width: 57%;
    flex-wrap: wrap;
    text-align: right;
    margin-left: auto;
    margin-top: 15px;
}

.categoryItem {
    padding: 2px 8px;
    margin: 0;
    font-size: 12px;
}

.projectTitle {
    font-size: 35px;
    text-align: center;
}

.projectDetail {
    text-align: center;
    font-size: 15px;
}

.projectDescription {
    text-align: center;
    font-size: 12px;
}