@font-face {
    font-family: monumentGrotesk;
    src: url('/MonumentGrotesk-Mono.woff');
}
@font-face {
    font-family: monumentGroteskBold;
    src: url('/MonumentGrotesk-Bold.woff');
}
@font-face {
    font-family: monumentGroteskRegular;
    src: url('/MonumentGrotesk-Regular.woff');
}
body {
    font-family: monumentGrotesk;
    letter-spacing: -0.03rem;
    line-height: 1.2;
    margin: 0;    
}
a {
    color: black;
    text-decoration: none;
}